.compat-attachment-fields {
	width: 100%;
}

.compat-field-wptika textarea {
	min-height: 20em;
	width: 100%;
}

#tika-extractor-log {
	background: #fff;
	border: 1px solid silver;
	border-radius: 4px;
	padding: 10px 10px 10px 40px;
	margin: 0;
	max-height: 400px;
	min-height: 200px;
	overflow: auto;
}

#tika-extractor button {
	margin-right: 8px;
}

#tika-extractor progress {
	width: 100%;
}

.tika-attribution {
	display: flex;
	align-items: center;
}

.tika-attribution img[src$="powered-by-apache.svg"] {
	margin-right: 1em;
}